.container {
     background-color: lightblue;

}

.card {
     overflow:hidden;
}
.barra{
     
          position: fixed;
          top: 0;
          width:100%;
          
}

.container{
  
     padding-top: 15px;
}

.p1{
     padding-top: 50px;
}

.p2{
     padding-top: 50px;
}