

  <hr>
<div class="container">
    <h1><em>Lorem ipsum dolor sit amet.</em></h1>
  <div class="row">
      <div class="col-3">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum libero molestias sunt enim ipsam iste quos quia quidem laudantium repudiandae.</p>
      </div>
 
  <div class="col-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quod molestias beatae suscipit rerum id rem adipisci quia. Consectetur aperiam magni deserunt a saepe animi earum ipsam sunt architecto beatae!</p>
  </div> 
  <div class="col-6">
        <div class="card" style="width: 18rem;">
      <img src="http://placekitten.com/g/200/200" class="card-img-top img-fluid rounded" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div>
