

  <hr>
<div class="container">
    <h1><em>Bienvenidos al grupo 1</em></h1>
  <div class="row">
      <div class="col-3">
        <br>
          <p class="p1">Después de largas jornadas de trabajo, sudor, estrés y lágrimas hemos logrado 'finalizar' este proyecto, esperamos que cumpla las expectativas mínimas requeridas. </p>
     <p><b>P.D: La tabla usuario es un poco tímido por favor ser paciente y comprensivo, gracias</b> </p>
        </div>
 
  <div class="col-3">
    <br>
    <div class="p2">
      <p>Este proyecto no hubiera sido posible sin la ayuda :</p>
      <p>Del querido profesor <b>Sebastián Ferrada.</b></p>
      <p>Del también muy querido profesor <b>José Vargas.</b></p>
      <p>Del apoyo moral de nuestros <b>ayudantes y mentores.</b></p>
      <p>De nuestro salvador que todo lo sabe ; <b>San Google.</b></p>
      <p>Y la participación especial de <b>Discord.</b> </p>
    </div>
  </div> 
  <div class="col-2"></div>
  <div class="col-4">
        <div class="card bg-info" style="width: 18rem;">
      <img src="http://placekitten.com/g/200/200" class="card-img-top img-fluid rounded-circle" alt="...">
      <div class="card-body">
        <h5 class="card-title ml-4">Integrantes Grupo #1</h5>
        <p class="card-text ml-5 pl-4">
          Nisser A <br>
        Katerina C <br>
      Narela M <br>
      Javiera A <br>
      Richard A<br>
     </p>
        
        <a href="http://localhost:4200/usuarios" class="btn btn-primary ml-5">Ver Tabla</a>
      </div>
    </div>
  </div>
</div>

</div>
