<body>
<nav class="navbar navbar-expand-lg navbar-light text- bg-info">
    <a class="navbar-brand" href="#">Barra de Navegación</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']"  >Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/usuarios']">Usuarios</a>
        </li>
        
      </ul>
  
    </div>
  </nav>
  <hr>
<div class="container">
    <h1><em>Lorem ipsum dolor sit amet.</em></h1>
  <div class="row">
      <div class="col-3">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum libero molestias sunt enim ipsam iste quos quia quidem laudantium repudiandae.</p>
      </div>
 
  <div class="col-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quod molestias beatae suscipit rerum id rem adipisci quia. Consectetur aperiam magni deserunt a saepe animi earum ipsam sunt architecto beatae!</p>
  </div> 
</div>
</div>
</body>