<mat-table [dataSource]="Usuarios" style="margin: auto" class="mat-elevation-z8">
  <ng-container matColumnDef="rut">
    <mat-header-cell *matHeaderCellDef>
      Rut
    </mat-header-cell>
    <mat-cell *matCellDef="let usuario">
      {{usuario.rut}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="correo">
    <mat-header-cell *matHeaderCellDef>
      Correo
    </mat-header-cell>
    <mat-cell *matCellDef="let usuario">
      {{usuario.correo}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="contraseña">
    <mat-header-cell *matHeaderCellDef>
      Contraseña
    </mat-header-cell>
    <mat-cell *matCellDef="let usuario">
      {{usuario.contrasena}}
    </mat-cell>

  </ng-container>

  <ng-container matColumnDef="borrar">
    <mat-header-cell *matHeaderCellDef>
      Borrar
    </mat-header-cell>
    <mat-cell *matCellDef="let usuario">
      <button (click)="deleteUsuario(usuario.rut)" mat-raised-button color="warn">Borrar</button>
    </mat-cell>

  </ng-container>
<ng-container matColumnDef="modificar">
    <mat-header-cell *matHeaderCellDef>
      Modificar
    </mat-header-cell>
    <mat-cell *matCellDef="let usuario">
      <button  (click)="actualizarcorreo(usuario.correo)" mat-raised-button color="accent">Modificar</button>
    </mat-cell>

  </ng-container>


  <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
  <mat-row *matRowDef="let fila; columns: columnas"></mat-row>
</mat-table>