<mat-table [dataSource]="empleados" style="margin: auto" class="mat-elevation-z8">
  <ng-container matColumnDef="rut">
    <mat-header-cell *matHeaderCellDef>
      Rut
    </mat-header-cell>
    <mat-cell *matCellDef="let empleado">
      {{empleado.rut}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef>
      Nombre
    </mat-header-cell>
    <mat-cell *matCellDef="let empleado">
      {{empleado.nombre}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="apellido">
    <mat-header-cell *matHeaderCellDef>
      Apellido
    </mat-header-cell>
    <mat-cell *matCellDef="let empleado">
      {{empleado.apellido}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="salario">
    <mat-header-cell *matHeaderCellDef>
      Salario
    </mat-header-cell>
    <mat-cell *matCellDef="let empleado">
      {{empleado.salario}}
    </mat-cell>

  </ng-container>
  <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
  <mat-row *matRowDef="let fila; columns: columnas"></mat-row>
</mat-table>
