<div class="container-fluid">
    
    <div class="row">
<div class="col-4"></div>
<div class="col-4 ">
    
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu  correo">
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="Password" name="password" placeholder="Contraseña" [(ngModel)]="password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Rut</label>
          <input type="text" class="form-control" id="rut" name="password" placeholder="rut" [(ngModel)]="rut">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Confirma que no eres un robot</label>
        </div>
        <button (click)="validar()" type="button" class="btn btn-primary">Validar</button>
        
      </form>
    </div>
    </div>

    
</div>